@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --colors-semantic-colors-primary-contrast: rgba(255, 255, 255, 1);
  --colors-shades-contrast-60: rgba(28, 46, 69, 0.6);
  --primitives-color-neutral-0b090d: rgba(11, 9, 13, 1);
  --primitives-color-neutral-FFFFFF: rgba(255, 255, 255, 1);
  --sizes-border-radius-m: 4px;
  --sizes-field-sizes-field-border-width: 0px;
  --system-colors-colors-blue: rgba(0, 122, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: var(
    --system-colors-colors-blue
  );
  --variable-collection-blue-base: rgba(60, 97, 242, 1);
  --variable-collection-blue-dark: rgba(40, 65, 161, 1);
  --variable-collection-blue-light: rgba(197, 214, 251, 1);
  --variable-collection-blue-lighter: rgba(236, 241, 254, 1);
  --variable-collection-green-base: rgba(102, 195, 151, 1);
  --variable-collection-green-dark: rgba(81, 156, 120, 1);
  --variable-collection-green-darker: rgba(48, 98, 74, 1);
  --variable-collection-green-light: rgba(211, 243, 229, 1);
  --variable-collection-green-lighter: rgba(241, 250, 246, 1);
  --variable-collection-neutral-0: rgba(255, 255, 255, 1);
  --variable-collection-neutral-100: rgba(246, 248, 250, 1);
  --variable-collection-neutral-200: rgba(226, 228, 232, 1);
  --variable-collection-neutral-300: rgba(205, 208, 212, 1);
  --variable-collection-neutral-400: rgba(135, 140, 151, 1);
  --variable-collection-orange-dark: rgba(181, 90, 37, 1);
  --variable-collection-orange-darker: rgba(103, 54, 23, 1);
  --variable-collection-orange-light: rgba(249, 219, 197, 1);
  --variable-collection-orange-lighter: rgba(252, 243, 236, 1);
  --variable-collection-purple-base: rgba(102, 73, 234, 1);
  --variable-collection-purple-dark: rgba(84, 61, 184, 1);
  --variable-collection-purple-darker: rgba(39, 26, 96, 1);
  --variable-collection-purple-light: rgba(200, 195, 250, 1);
  --variable-collection-purple-lighter: rgba(237, 235, 253, 1);
  --variable-collection-red-base: rgba(205, 53, 70, 1);
  --variable-collection-red-dark: rgba(161, 45, 59, 1);
  --variable-collection-red-light: rgba(241, 203, 210, 1);
  --variable-collection-red-lighter: rgba(250, 237, 240, 1);
  --variable-collection-teal-base: rgba(94, 183, 228, 1);
  --variable-collection-teal-dark: rgba(64, 134, 169, 1);
  --variable-collection-teal-darker: rgba(35, 69, 97, 1);
  --variable-collection-yellow-base: rgba(232, 176, 86, 1);
  --variable-collection-yellow-dark: rgba(172, 122, 48, 1);
  --variable-collection-yellow-darker: rgba(99, 63, 27, 1);
  --variable-collection-yellow-light: rgba(247, 223, 182, 1);
  --variable-collection-yellow-lighter: rgba(253, 247, 237, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-shades-contrast-60: rgba(28, 46, 69, 0.6);
}

[data-colors-mode="dark"] {
  --colors-shades-contrast-60: rgba(209, 227, 250, 0.58);
}

[data-system-colors-mode="light"] {
  --system-colors-colors-blue: rgba(0, 122, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: var(
    --system-colors-colors-blue
  );
}

[data-system-colors-mode="dark"] {
  --system-colors-colors-blue: rgba(10, 132, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: rgba(
    255,
    255,
    255,
    1
  );
}

[data-system-colors-mode="dark-elevated"] {
  --system-colors-colors-blue: rgba(10, 132, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: rgba(
    255,
    255,
    255,
    1
  );
}

[data-system-colors-mode="IC-light"] {
  --system-colors-colors-blue: rgba(0, 64, 221, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: var(
    --system-colors-colors-blue
  );
}

[data-system-colors-mode="IC-dark"] {
  --system-colors-colors-blue: rgba(64, 156, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: rgba(
    255,
    255,
    255,
    1
  );
}

[data-system-colors-mode="IC-dark-elevated"] {
  --system-colors-colors-blue: rgba(64, 156, 255, 1);
  --system-colors-miscellaneous-floating-tab-text-selected: rgba(
    255,
    255,
    255,
    1
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
